.benefit {
  margin-top: 100px;

  &__box {
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    border-bottom: 1px solid #999999;
  }
  .imageContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 8px;
    flex-shrink: 0;
  }

  &__image {
    width: 100%;
  }

  .responsive-padding {
    padding-top: 60px;
  }
}

@media only screen and (max-width: 992px) {
  .pt-120 {
    padding-top: 20px !important;
  }

  .benefit .responsive-padding {
    padding-top: 20px;
  }
}
