.benefit {
  margin-top: 100px;

  &__box {
    font-family: "Roboto", sans-serif;
    color: #ffffff;
  }
  .imageContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 8px;
    flex-shrink: 0;
  }

  &__image {
    width: 100%;
  }
}
