.faq {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  &__box {
    padding: 20px;
    background-color: rgba($color: #ffffff, $alpha: 0.2);
    border-radius: 20px;
    height: 100%;

    h5 {
      color: aquamarine;
    }
  }

  .accordion {
    background-color: rgba($color: #ffffff, $alpha: 0.2);
    --bs-accordion-bg: none;
    --bs-accordion-color: #ffffff;
    --bs-accordion-btn-color: #ffffff;
  }

  .accordion-button {
    font-size: 1.25rem;
  }

  .accordion-button:not(.collapsed) {
    background-color: inherit;
    color: #ffffff;
  }
}
