.home {
  background-color: var(--background-color);
  padding: 80px 10px 20px 10px;
  position: relative;
  z-index: 1;
  &__gradient1 {
    top: auto;
    left: auto;
    right: 0;
    width: 300px;
    bottom: 10%;
    filter: blur(100px);
    height: 300px;
    z-index: -1;
    position: fixed;
    transform: rotate(45deg);
    border-radius: 1000px;
    background-image: radial-gradient(36.67% 9.68% at 67.26% 8.27%, rgb(56 9 57) 0%, rgb(56 9 57) 95.78%);
  }
  &__gradient2 {
    top: 5%;
    left: auto;
    right: 10%;
    width: 300px;
    bottom: auto;
    filter: blur(100px);
    height: 300px;
    z-index: -1;
    position: fixed;
    border-radius: 1000px;
    background-image: radial-gradient(36.67% 9.68% at 67.26% 8.27%, rgb(56 9 57) 0%, rgb(56 9 57) 95.78%);
  }
  &__gradient3 {
    top: 15%;
    left: 0;
    right: auto;
    width: 250px;
    bottom: auto;
    filter: blur(100px);
    height: 250px;
    opacity: 0.8;
    z-index: -1;
    position: fixed;
    transform: rotate(45deg);
    border-radius: 1000px;
    background-image: radial-gradient(36.67% 9.68% at 67.26% 8.27%, rgb(14 42 62) 0%, rgb(28 72 103) 95.78%);
  }
  &__gradient4 {
    top: auto;
    left: 10%;
    right: auto;
    width: 250px;
    bottom: 10%;
    filter: blur(100px);
    height: 250px;
    opacity: 0.8;
    z-index: -1;
    position: fixed;
    transform: rotate(45deg);
    border-radius: 1000px;
    background-image: radial-gradient(
      36.67% 9.68% at 67.26% 8.27%,
      rgb(42 123 135 / 48%) 0%,
      rgb(39 121 124 / 72%) 95.78%
    );
  }
  &__title {
    font-family: "Press Start 2P", cursive;
    font-weight: 700;
    font-size: 40px;
    line-height: 70px;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--utilitypage-title-text);
  }
  &__description {
    display: flex;
    justify-content: center;
    padding: 30px 0px 60px 0px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 40px;
    // color: var(--utilitypage-description-text);
    color: #e1d9d9;
  }

  &__swapImage {
    width: 100%;
    height: auto;
  }
}

.swapBox {
  padding: 20px;
  background-color: rgba($color: #ffffff, $alpha: 0.1);
  border-radius: 20px;
  font-family: "Roboto", sans-serif;

  &__exchangeInput {
    padding: 14px 9px;
    width: 100%;
    background: hsla(0, 0%, 100%, 0.03);
    border: 1px solid #34344c;
    border-radius: 10px;
    position: relative;

    input {
      width: 40%;
      background-color: initial;
      border: none;
      color: #ffffff;
      font-size: 20px;
      font-weight: 500;
      line-height: 180%;
      outline: none;
    }

    &__dropdown {
      width: 60%;
      border-left: 1px solid #ffffff;
      cursor: pointer;
      padding-left: 4px;
      position: relative;

      .send_dropdown_content {
        position: absolute;
        z-index: 1;
        height: 400px;
        width: auto;
        overflow: hidden;
        padding: 40px 20px;
        border-radius: 10px;
        backdrop-filter: blur(40px);
        left: 0;
        bottom: 5px;
        transform: translateY(100%);
        transition: 0.5s;

        .exchange_search {
          position: relative;

          img {
            position: absolute;
            right: 42px;
            top: 50%;
            transform: translateY(-50%);
          }

          input {
            background: hsla(0, 0%, 100%, 0.1);
            border: 1px solid hsla(0, 0%, 100%, 0.1);
            border-radius: 10px;
            color: #ffffff;
            font-size: 16px;
            font-weight: 500;
            line-height: 180%;
            outline: none;
            padding: 10px 20px;
            position: sticky;
            width: calc(100% - 27px);
            top: -40px;
          }
        }

        .exchange_options {
          width: 300px;
          height: 390px;
          margin-top: 20px;
          overflow-y: scroll;
          padding-right: 25px;
          &::-webkit-scrollbar {
            position: absolute;
            right: 20px;
            width: 4px;
          }
          &::-webkit-scrollbar-track {
            background: hsla(0, 0%, 100%, 0.1);
            border-radius: 40px;
            margin-bottom: 8px;
          }
        }
      }

      .receive_dropdown_content {
        position: absolute;
        z-index: 1;
        height: 400px;
        width: auto;
        overflow: hidden;
        padding: 40px 20px;
        border-radius: 10px;
        backdrop-filter: blur(40px);
        right: 0;
        bottom: 5px;
        transform: translateY(100%);
        transition: 0.5s;

        .exchange_search {
          position: relative;

          img {
            position: absolute;
            right: 42px;
            top: 50%;
            transform: translateY(-50%);
          }

          input {
            background: hsla(0, 0%, 100%, 0.1);
            border: 1px solid hsla(0, 0%, 100%, 0.1);
            border-radius: 10px;
            color: #ffffff;
            font-size: 16px;
            font-weight: 500;
            line-height: 180%;
            outline: none;
            padding: 10px 20px;
            position: sticky;
            width: calc(100% - 27px);
            top: -40px;
          }
        }

        .exchange_options {
          width: 300px;
          height: 390px;
          margin-top: 20px;
          overflow-y: scroll;
          padding-right: 25px;
          &::-webkit-scrollbar {
            position: absolute;
            right: 20px;
            width: 4px;
          }
          &::-webkit-scrollbar-track {
            background: hsla(0, 0%, 100%, 0.1);
            border-radius: 40px;
            margin-bottom: 8px;
          }
        }
      }

      .downArrow {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        color: #ffffff;
      }

      &__selected {
        align-items: center;
        color: #ffffff;
        display: flex;
        font-size: 20px;
        font-weight: 500;
        line-height: 180%;

        img {
          border-radius: 50%;
          height: 41px;
          width: 41px;
          margin-right: 10px;
          object-fit: contain;
        }

        h6 {
          color: #ffffff;
          font-size: 20px;
          font-weight: 500;
          line-height: 120%;
        }

        span {
          color: #ffffff;
          font-size: 12px;
          font-weight: 500;
          line-height: 100%;
          opacity: 0.3;
        }
      }
    }
  }
}

.swapImage {
  width: 100%;
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.addressInput {
  width: 100%;
  background-color: initial;
  border: 1px solid #34344c;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  line-height: 180%;
  outline: none;
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  .home {
    padding: 60px 10px 20px 10px;
    &__title {
      font-size: 25px;
      line-height: 55px;
    }
    &__description {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
